tavily-python
sentence_transformers
llama-index
llama_parse
llama-index-embeddings-huggingface
llama-index-vector-stores-pinecone
pdfminer.six
pdfplumber
langchain-google-community
llama-cloud-services
faiss-cpu==1.11.0
langchain==0.3.25
langchain-community==0.3.25
langchain-core==0.3.65
langchain-openai==0.3.23
langchain-pinecone
langgraph==0.4.8
pinecone
python-dotenv==1.1.0
streamlit==1.45.1

